<?xml version="1.0" encoding="utf-8" ?>
<MapGallery>
  <Localization></Localization>
  <FolderPath>../../../../Map Reports</FolderPath>
  <ExcludeFiles>
    <File>Reports\StoreReport2.rdlx</File>
    <File></File>
  </ExcludeFiles>
  <ExcludeFolders>
    <Folder>Reports\Images</Folder>
  </ExcludeFolders>
</MapGallery>
