<?xml version="1.0" encoding="utf-8" ?>
<ReportsGallery>
  <Localization>
    
  </Localization>
  <FolderPath>../../../../Reports</FolderPath>
  <ExcludeFiles>
    <File>Page Report\DrillDown\CustomerDetails.rdlx</File>
    <File>Page Report\DrillDown\OrderDetails.rdlx</File>
    <File>Page Report\Other\Theme1.rdlx-theme</File>
    <File>Page Report\Other\Theme2.rdlx-theme</File>
    <File>RDL Report\FactBook\Factbook.rdlx-theme</File>
    <File>RDL Report\Reels\Reels.rdlx-theme</File>
    <File>RDL Report\Reels\ReelsConfidential.rdlx-master</File>
    <File>RDL Report\DashBoard\TeamStatisticsDashboard.rdlx</File>
    <File>RDL Report\Reels\CustomerOrdersCoupon.rdlx</File>
    <File>RDL Report\Others\Seiseki_Sub.ja.rdlx</File>
    <File>RDL Report\Others\Seiseki_Sub.rdlx</File>
  </ExcludeFiles>
  <ExcludeFolders>
    <Folder>RDL Report\Reels\Images</Folder>
    <Folder>RDL Report\FactBook\maps</Folder>
  </ExcludeFolders>
</ReportsGallery>
