<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<Extensions>
		<ReportItems>
			<ReportItem Name="RadarChart" Type="GrapeCity.ActiveReports.Samples.Radar.RadarChart, RadarChart" />
		</ReportItems>
		<ReportItemDesigner>
			<ReportItem Name="RadarChart" Type="GrapeCity.ActiveReports.Samples.Radar.RadarDesigner, RadarDesigner" BitmapResource="GrapeCity.ActiveReports.Samples.Radar.RadarIcon.png" />
		</ReportItemDesigner>
	</Extensions>
</Configuration>
