<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<Extensions>
		<ReportItems>
			<ReportItem Name="SvgImage" Type="GrapeCity.ActiveReports.Samples.Svg.SvgImage, SvgImage" />
		</ReportItems>
		<ReportItemDesigner>
			<ReportItem Name="SvgImage" Type="GrapeCity.ActiveReports.Samples.Svg.SvgDesigner, SvgDesigner" BitmapResource="GrapeCity.ActiveReports.Samples.Svg.SvgIcon.png" />
		</ReportItemDesigner>
	</Extensions>
</Configuration>
