<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Extensions>
    <MapTileProviders>
      <!-- Configure embedded MapQuest tile provider with ApiKey -->
      <MapTileProvider
        Name="GoogleMaps"
        DisplayName="GoogleMaps-Sample" Type="GrapeCity.ActiveReports.Samples.CustomTileProviders.GoogleMapsTileProvider, CustomTileProviders, Version=1.0.0.0">
       
      </MapTileProvider>
      <MapTileProvider
        Name="OpenStreetMap"
        DisplayName="OpenStreetMap-Sample" Type="GrapeCity.ActiveReports.Samples.CustomTileProviders.OpenStreetMapTileProvider, CustomTileProviders, Version=1.0.0.0">

      </MapTileProvider>
      <MapTileProvider
        Name="CloudMade"
        DisplayName="Cloud-Made Sample" Type="GrapeCity.ActiveReports.Samples.CustomTileProviders.CloudMadeTileProvider, CustomTileProviders, Version=1.0.0.0">
        <Settings>
          <add key="ApiKey" value="8ee2a50541944fb9bcedded5165f09d9" />
          <add key="Timeout" value="5000" />
        </Settings>
      </MapTileProvider>
      <MapTileProvider Name="MapQuest-Sample" DisplayName="MapQuest-Sample" Type="GrapeCity.ActiveReports.Samples.CustomTileProviders.MapQuestTileProvider, CustomTileProviders, Version=1.0.0.0">
        <Settings>
          <add key="ApiKey" value="Fmjtd%7Cluur21ua2l%2C2x%3Do5-90t5h6" />
          <add key="Timeout" value="3000" />
        </Settings>
      </MapTileProvider>
    </MapTileProviders>
  </Extensions>
  <appSettings>
    <add key="EnableOleObject" value="false"/>
  </appSettings>
</Configuration>
