<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<Extensions>
		<ReportItems>
			<ReportItem Name="RTF" Type="GrapeCity.ActiveReports.Samples.Rtf.Control.RtfControl, RtfControl" />
		</ReportItems>
		<ReportItemDesigner>
			<ReportItem Name="RTF" Type="GrapeCity.ActiveReports.Samples.Rtf.RtfDesigner, RtfDesigner" BitmapResource="GrapeCity.ActiveReports.Samples.Rtf.RtfIcon.bmp" />
		</ReportItemDesigner>
	</Extensions>
</Configuration>
