<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GrapeCity.ActiveReports" version="14.0.19026" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.DataProviders" version="1.5.3000" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rendering" version="1.5.3000" targetFramework="net462" />
</packages>