<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gcef.Data.DataEngine" version="2.0.183" targetFramework="net462" />
  <package id="Gcef.Data.ExpressionInfo" version="2.0.183" targetFramework="net462" />
  <package id="Gcef.Data.VBFunctionLib" version="2.0.183" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports" version="14.0.18985-beta" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Chart" version="14.0.18985-beta" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.DataProviders" version="1.5.3000-beta-2699" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gc" version="1.5.3000-beta-2699" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gdi" version="1.5.3000-beta-2699" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rdl" version="1.5.3000-beta-2699" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rendering" version="1.5.3000-beta-2699" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Document" version="14.0.18985-beta" targetFramework="net462" />
  <package id="Grapecity.DataVisualization" version="0.1.226" targetFramework="net462" />
  <package id="GrapeCity.Documents.Common" version="2.2.0.319" targetFramework="net462" />
  <package id="GrapeCity.Documents.Common.Windows" version="2.2.0.319" targetFramework="net462" />
  <package id="GrapeCity.Documents.DX.Windows" version="2.2.0.319" targetFramework="net462" />
  <package id="GrapeCity.Documents.Imaging" version="2.2.0.319" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Svg" version="2.4.3" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net462" />
  <package id="System.Data.Odbc" version="4.5.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net462" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.0" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>