<?xml version="1.0" encoding="utf-8" ?>
<ReportingConfiguration>
	<Extensions>
		<Data>
			<!--
					Specify a unique name that will be used to reference data provider in reports.(Mandatory)
					Note:In order to enable visual query designer for Oracle "Name" must be equal to a predifined value "ORACLE".
					
					Specify Type that inherits from DbProviderFactory using assembly qualified name to use a custom data provider.(Mandatory)
					
					Specify AdapterType using assembly qualified name in order to enable additional features such as queries with parameters and multivalue parameters.(Optional)
					
					Specify SchemaProviderType using assembly qualified name in order to enable Visual Query Designer support.(Optional)
					Note: Visual Query Designer requires SchemaProviderType in order to work
					
					Set QueryDesignerSupported true/false to show/hide Visual Query Designer button.(Optional, "false" by default)-->

			<Extension Name="ORACLE"
							DisplayName="Oracle Managed Data Access"
							Type = "Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess"
							AdapterType = "OracleDataProvider.GrapeCity.ActiveReports.Samples.OracleDataProvider.OracleConnectionAdapter, OracleDataProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
							SchemaProviderType = "OracleDataProvider.GrapeCity.ActiveReports.Samples.OracleDataProvider.GeneralOracleSchemaProvider, OracleDataProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
							QueryDesignerSupported = "true"/>
		</Data>
	</Extensions>
</ReportingConfiguration>

