<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GrapeCity.ActiveReports" version="14.2.20743" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.DataProviders" version="1.7.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rendering" version="1.8.7" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="19.3.1" targetFramework="net462" />
</packages>