<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Drawing.Gdi" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rendering" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rdl" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Document" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.19970.0" newVersion="14.1.19970.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.DataProviders" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.3.0" newVersion="1.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Chart" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.19970.0" newVersion="14.1.19970.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Drawing.Gc" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.Imaging" publicKeyToken="d55d733d2bfd5065" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.511" newVersion="3.1.0.511" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.Common.Windows" publicKeyToken="d55d733d2bfd5065" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.511" newVersion="3.1.0.511" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.DX.Windows" publicKeyToken="d55d733d2bfd5065" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.511" newVersion="3.1.0.511" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1.19970.0" newVersion="14.1.19970.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.Common" publicKeyToken="d55d733d2bfd5065" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.511" newVersion="3.1.0.511" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
