<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpSoap"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="BasicAuthHttpModule" type="WebService.BasicAuthHttpModule, WebService"/>
    </modules>
  </system.webServer>
</configuration>
