<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gcef.Data.DataEngine" version="2.0.186" targetFramework="net462" />
  <package id="Gcef.Data.ExpressionInfo" version="2.0.186" targetFramework="net462" />
  <package id="Gcef.Data.VBFunctionLib" version="2.0.186" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports" version="14.3.20938" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Chart" version="14.3.20938" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.DataProviders" version="1.7.0" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gc" version="1.8.11" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Drawing.Gdi" version="1.8.11" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rdl" version="1.8.11" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Core.Rendering" version="1.8.11" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Design.Win" version="14.3.20938" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Document" version="14.3.20938" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Image" version="14.3.20938" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Export.Rdf" version="14.3.20938" targetFramework="net462" />
  <package id="GrapeCity.ActiveReports.Viewer.Win" version="14.3.20938" targetFramework="net462" />
  <package id="Grapecity.DataVisualization" version="0.1.245" targetFramework="net462" />
  <package id="GrapeCity.Documents.Common" version="3.2.0.560" targetFramework="net462" />
  <package id="GrapeCity.Documents.Common.Windows" version="3.2.0.560" targetFramework="net462" />
  <package id="GrapeCity.Documents.DX.Windows" version="3.2.0.560" targetFramework="net462" />
  <package id="GrapeCity.Documents.Imaging" version="3.2.0.560" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NUnit" version="2.5.9.10348" targetFramework="net462" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net462" />
  <package id="System.Data.Odbc" version="4.5.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net462" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.0" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>